.App {
  text-align: center;
}

.footer {
  background-image: linear-gradient( #ffffff,#eabbea, #b755d2, indigo);
  width: 100%;
  vertical-align: center;
  margin-top: 5vh;
  padding: 5vh 0 0 0;
  color: white;
  position:absolute;
  bottom:0;
  height: 10vh;
  font-size: x-large;
}

.header {
  background-image: linear-gradient(indigo, #b755d2, #eabbea, #ffffff);
  color: white;
  width: 100%;
  height: 15vh;
  padding-top: 5vh;
  font-size: x-large;
}

.error {
  display: block;
  color: red;
}

@media all and (height: 500px) {
  .header, .footer {
    font-size: medium;
  }
}
