.App {
  text-align: center;
}

.footer {
  background-image: linear-gradient(to right, #ffffff,violet, indigo,violet, #ffffff);
  width: 100%;
  margin: 10vw 0;
  padding: 2vw;
  color: white;
  display: block;
}

.error {
  display: block;
  color: red;
}
